
body {
  background-image: url("../imgs/Beach_sunset.JPG");
  background-size: cover;
  }


.title{
  margin-top: 15px;

}

.greeting{
  text-align: center;
  width: 60%;
}

#column1, #column2, #column3 {
    background-color: grey;
    width: 31.3%;
    float: left;
    margin: 1%;
    text-align: left;
    font-size: .74em;
}

#column2{padding-bottom: 5.2%}


#column3{padding-bottom: 10.4%}

#content{
  float: left;
  clear: both;
}

#method_name,  #method_returns{

  background-color: grey;
    width: 44.4%;
    height: 40%;
    float: left;
    margin: 1%;
    text-align: left;
    font-size: .74em;
}

.pic{
  float: left;
  width: 35%;
  margin: 30px 15px 15px 50px;
  border: 1px;
  border-radius: 40%; 
}

.posts, .social{
  float: left;
  clear: both;
  padding: 25px;
  margin: 10px;
  
}
