
body {  background-image: url("imgs/Pali.jpg");
        background-size: cover;
}
.welcome{
      text-align: center;
      font-size: 2.25em;
      width:77%;
      box-shadow:25px 25px 10px #1CFF68;
      background-color:#C9FFDB; 
      padding 50px;
      margin-bottom: 5%;
      float: left;
      clear: both;
      }
/*.middle{border: 10px solid black;}*/

b{
  font-size:2.25em;
}

nav{
    float: left;
    clear: both;
    height:1.25em;
    width: auto;
    padding 5px 5px 5px 5px;
    margin: 5px 65% 15px 5px;
    background-color: #00ff80;
  }

.hawaii {
      border-radius: 100%; 
    

}

#pic{
  float: left;
  width: 35%;
  margin: 30px 15px 15px 50px;
  border: 1px;
  border-radius: 40%; 

}


/*#Sierra{z-index: 5;
        }
#Rainbow{z-index: 4;
        }
#Overlook{z-index: 3;
          }
#Sunset{z-index: 2;  
        }*/



a:hover{
  font-size: 1.32em;
  color: black;
  text-decoration: none;
 }

.left-links{
  float: left;
  clear: left;
  width: 15%;
  padding 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-align: center;
 
}

.right-links{
  float: left;
  
  width: 15%;
  padding 5px 5px 5px 5px;
  margin: 5px 5px 5px 100px;
}


#quote{   
      text-align: center;
      font-size: 1.6em;
      width:77%;
      box-shadow:25px 25px 10px #FFFFCC;
      background-color:#FFFF6E;
      padding 22px;
      margin: 15px 15px 15px 15px;
      float: left;
      clear: both;
